.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 100px;
    margin: 0;
    border-bottom:1px solid #adadad ;
}
.heading{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    margin: 0;
}
.dp{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}